@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", sans-serif;
}

button:focus {
    outline: none;
}

@layer components {
    .mixin-button-like {
        @apply flex items-center box-border transition-colors cursor-pointer select-none;
    }

    .mixin-button-sm {
        @apply gap-0.5 px-1 py-0.5 text-xs leading-none;
    }

    .mixin-button-base {
        @apply gap-2 px-4 py-1 text-base;
    }

    .theme-button-generic-white {
        $root: &;
        @apply border border-gray-900 text-gray-900;

        &:not(#{$root}--active) {
            @apply bg-gray-100 hover:bg-gray-200;
        }

        &--active {
            @apply bg-gray-200;
        }
    }

    .theme-button-generic-yellow {
        $root: &;
        @apply border border-gray-900 text-gray-900 ;

        &:not(#{$root}--active) {
            @apply bg-yellow-300 hover:bg-yellow-400;
        }

        &--active {
            @apply bg-yellow-400;
        }
    }

    .theme-button-generic-green {
        $root: &;
        @apply border border-gray-900 text-gray-900 ;

        &:not(#{$root}--active) {
            @apply bg-green-300 hover:bg-green-400;
        }

        &--active {
            @apply bg-green-400;
        }
    }


    .theme-group-listbox-generic-white {
        &__button {
            @apply mixin-button-like theme-button-generic-white;
        }

        &__menu {
            @apply border border-gray-900 bg-gray-100;
        }

        &__item {
            $root: &;
            @apply mixin-button-like text-gray-900;
    
            &:not(#{$root}--active) {
                @apply bg-gray-100 hover:bg-gray-200;
            }
    
            &--active {
                @apply bg-gray-200;
            }
    
            &:not(:last-child) {
                @apply border-b border-gray-900;
            }
        }

    }

    .header\@app__button {
        @apply mixin-button-like mixin-button-base border border-[#23231A];

        &:not(.header\@app__button--active) {
            @apply bg-[#464635] hover:bg-[#38382A] shadow hover:shadow-none text-gray-100 hover:text-gray-200;
        }

        &--active {
            @apply bg-[#38382A] text-gray-200 shadow-none;
        }

        [data-role="text"] {
            @apply hidden sm:block;
        }
    }

    .generic-panel {
        @apply p-4 bg-gray-50 text-gray-900 border border-gray-900 w-full max-w-72 shadow;
    
        &__body {
            @apply flex flex-col gap-4;
        }

        &__title {
            @apply text-lg font-bold;
        }
    }

    .app {
        &__x-divider {
            @apply h-0 w-full border-t border-gray-900;
        }
    }
}